<?xml version="1.0"?>

<!--
SPDX-License-Identifier: Apache-2.0
SPDX-FileCopyrightText: 2017 Intel Corporation
SPDX-FileCopyrightText: Czech Technical University in Prague

This is the URDF model for the Intel RealSense USB plug.

Original file from https://github.com/IntelRealSense/realsense-ros edited by Martin Pecka:
- all links have non-zero inertia 
-->

<robot name="usb_plug" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find realsense_gazebo)/urdf/utils.xacro" />

    <xacro:macro name="gzrs_usb_plug" params="parent *origin name:=usb_plug">
        <xacro:property name="M_PI" value="3.1415926535897931" />

        <joint name="${name}_joint" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="${name}_link" />
        </joint>

        <link name="${name}_link">
            <visual>
                <!-- 0.044850 0.008000 0.018500 -->
                <origin xyz="0. -0.022425 0." rpy="0 0 ${M_PI/2}"/>
                <geometry>
                    <!--box size="0.044850 0.008 0.0185" /-->
                    <mesh filename="package://realsense2_description/meshes/plug.stl" />
                </geometry>
                <material name="plastic"/>
            </visual>
            <collision>
                <origin xyz="0. -0.022425 0." rpy="0 0 ${M_PI/2}"/>
                <geometry>
                    <!--box size="0.044850 0.008 0.0185" /-->
                    <mesh filename="package://realsense2_description/meshes/plug_collision.stl" />
                </geometry>
            </collision>
            <xacro:gzrs_default_inertial />
        </link>
    </xacro:macro>
</robot>